<!--<app-diretiva-ngif></app-diretiva-ngif>-->
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngslyle></app-diretiva-ngslyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<app-exemplo-ngcontent>
    <div class="titulo">Titulo do Painel</div> 
    <div class="corpo">
        Contéudo passado para o componente
        <app-operador-elvis></app-operador-elvis>
    </div> 
</app-exemplo-ngcontent>    